# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist
build

# Version control
.git
.github
.gitignore

# Environment variables
.env*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log

# Test coverage
coverage
.nyc_output

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Misc
.DS_Store
Thumbs.db

# Cache
.npm
.eslintcache

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln

# Large folders not needed for build
docs
test
scripts 