# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database Configuration
DATABASE_URL="postgresql://postgres@localhost:5432/rental?schema=public"

# JWT Secret for Authentication
JWT_SECRET="rental-motor-jwt-secret-key-2024"
JWT_EXPIRES_IN="7d"

# Redis Configuration
REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"

# NODE_ENV="development"
NODE_ENV="production"

# Cookie Configuration
COOKIE_DOMAIN=".domain.com" # wajib ada titik di depan domain

# BullMQ Configuration
QUEUE_PREFIX="rental_motor"

# Server Configuration
PORT=3030
API_PREFIX="/api"

# Rate Limiting
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=100
RATE_LIMIT_SKIP_SUCCESSFUL=false

# Compression
COMPRESSION_LEVEL=6

# Baileys WhatsApp Configuration
BAILEYS_SESSION_PATH=
ADMIN_WHATSAPP=

# WhatsApp configuration
WHATSAPP_SESSION_PATH=
WHATSAPP_SEND_DEBUG=false
WHATSAPP_RECONNECT_INTERVAL=60000
WHATSAPP_MAX_RECONNECT_ATTEMPTS=10

# Logging
LOG_LEVEL="debug"
LOG_FORMAT="text"

# Security
CORS_ORIGIN="*"
ENABLE_HTTPS=false
SSL_KEY_PATH=""
SSL_CERT_PATH=""

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

DENDA_PER_JAM=15000

# PM2 Configuration
PM2_INSTANCES=1
PM2_MAX_MEMORY=750M
PM2_NODE_ARGS="--max-old-space-size=700"

# whatsapp
WHATSAPP_API_URL=
WHATSAPP_SESSION=
WHATSAPP_SECRET_KEY=
WHATSAPP_RECONNECT_INTERVAL=60000
WHATSAPP_MAX_RECONNECT_ATTEMPTS=10
WEBHOOK_URL=